
<!DOCTYPE html>
{% comment %}
<putain que c'est chiant l'encodage


{% endcomment %}
<html>
<head lang="fr">
    <meta charset="utf-8">
    <title>Accueil</title>
</head>
<body>
    <h1>Application web pour gerer l'arrosage automatique du jardin</h1>
    <figure>
        <img src="photo_jardin.jpg" alt="Photo du jardin a Bleré 1 chemin d'Espagne"/>
    </figure>
    <ul>
        <li><a href="statistiques_meteo.html">Arroser maintenant </a></li>
        <li><a href="conditions_arrosages.html"> Conditions d'arrosage</a></li>
        <li><a href="statistiques_meteo.html">Statistiques météorologiques</a></li>
        <li><a href="statistiques_arrosages.html">Statistiques arrosages</a></li>
    </ul>
</body>
</html>