<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Suivi humidité {{ mois }} {{ annnee }}</title>
</head>
<body>
<img src="{{ url_for('static', filename = 'images/'+nom_image_min) }}" alt="Courbes des minima d'humidité"/>
<img src="{{ url_for('static', filename = 'images/'+nom_image_max) }}" alt="Courbes des maxima d'humidité"/>
<img src="{{ url_for('static', filename = 'images/'+nom_image_moyenne) }}" alt="Courbes des moyennes d'humidité"/>

<a href="/">Retour à l'accueil </a>
</body>
</html>