<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Suivi de la temperature du jour : le {{ jour }} {{ mois }} {{ annee }}</title>
</head>
<body>
<h1> Température le {{ jour }} {{ mois }} {{ annee }}</h1>
<img src="{{ url_for('static', filename = 'images/'+nom_image_min) }}" alt="Courbes des minima de température"/>
<img src="{{ url_for('static', filename = 'images/'+nom_image_max) }}" alt="Courbes des maxima de température"/>
<img src="{{ url_for('static', filename = 'images/'+nom_image_moyenne) }}" alt="Courbes des moyennes de température"/>
<a href="/">Retour à l'accueil </a>
</body>
</html>