<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Température de l'année {{ annee }}</title>
</head>
<body>

<h1> Température en moyenne en {{ annee }}</h1>
<img src="{{ url_for('static', filename = 'images/'+nom_image_min) }}" alt="Courbes des minima de température"/>
<img src="{{ url_for('static', filename = 'images/'+nom_image_max) }}" alt="Courbes des maxima de température"/>
<img src="{{ url_for('static', filename = 'images/'+nom_image_moyenne) }}" alt="Courbes des moyennes de température"/>

<table border="1" cellpadding="5" cellspacing="5">
<tr>
<th>Mois</th>
<th>Température moyenne</th>
</tr>
{% for indice in l_indices_mois %}
    <tr>
    <td>{{ mois[indice].capitalize() }}</td>
    <td>{{ temperatures_moyennes_mois[indice] }}</td>
    </tr>
{% endfor %}
</table>
<a href="/">Retour à l'accueil </a>
</body>
</html>