<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Alors, c'est fait comment ce truc ?</h1>
    <h3> Sommaire </h3>
    <p> On parlera de : </p>
    <ul>
        <li> du cahier des charges,</li>
        <li> de la liste du matériel à avoir,</li>
        <li> des domaines de connaissance à avoir,</li>
        <li> des étapes de construction</li>
        <li> et sans doute d'autres trucs.</li>

    </ul>

    <p> La partie où le site est hébergé et où toutes les décisions sot prises.</p>
    <figure>
        <img src="{{ url_for("static", filename='images/rasp_communiqueur.jpg')}}" alt="Raspberry pi ,émetteur et transmetteur"/>
    </figure>
    <p>C'est ce qui mesure la temperature et la teneur e humidité de l'air. Ca sert aussi de relai.</p>
    <figure>
        <img src="{{ url_for("static", filename='images/thermo_hygrometre.jpg')}}" alt="thermomètre et hygromètre électronique"/>
    </figure>

    <p> Attention, on vous observe. </p>
    <img src="{{ url_for("static", filename="images/gali_observeur.jpg") }}" />


    <a href="/">Retour à l'accueil </a>
</body>
</html>